<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>ACER CATALOG</title>
    <!-- IMPORT FONT -->
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <!-- IMPORT CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/linearis.css' %}">
  </head>
  <body>

        <div class="row">
          <div class="col-md-6">
            <div class="img-thumbnail">
              <img src="{%static 'img/Acer Aspire E5-473G.JPG'%}" class="">
            </div>
            </div>
          <div class="col-md-6">
            <h2 class="subtitle">Acer Aspire E5-473G</h2>
            <p>Prosesor	Intel i3 5005U, Speed	2.0 Ghz, VGA Nvidia Geforce GT920M 2GB, RAM	DDR3 4 GB, Ukuran Layar	14.1 inch,
              Resolusi Layar	1366 x 768, Storage HDD 500 GB, Harga	Rp 5.650.000</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="img-thumbnail">
              <img src="{%static 'img/acer aspire e5-475g.jpg'%}" class="">
            </div>
            </div>
          <div class="col-md-6">
            <h2 class="subtitle">Acer Aspire E5-475G</h2>
            <p>Prosesor	Intel i3 6100U, Speed	2.3 Ghz, VGA Nvidia Geforce GT940MX 2GB, RAM DDR4 2 GB, Ukuran Layar 14.1 inch,
              Resolusi Layar 1366 x 768, Storage HDD 500 GB, Harga	Rp 5.550.000</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="img-thumbnail">
              <img src="{%static 'img/acer aspire e5-551.jpg'%}" class="">
            </div>
            </div>
          <div class="col-md-6">
            <h2 class="subtitle">Acer Aspire E5-551</h2>
            <p>Prosesor	AMD A10 7300, Speed	1.9 - 3.2 Ghz, VGA AMD Radeon R7 M265 2GB, RAM DDR3 4 GB, Ukuran Layar 15.6 inch,
              Resolusi Layar 1366 x 768, Storage HDD 500 GB, Harga Rp 5.700.000</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="img-thumbnail">
              <img src="{%static 'img/Acer Aspire One 722.jpg'%}" class="">
            </div>
            </div>
          <div class="col-md-6">
            <h2 class="subtitle">Acer Aspire One 722</h2>
            <p>Prosesor AMD Dual-Core C50, Speed 1 GHz, VGA	ATI Radeon HD 6250, RAM	2 GB, Ukuran layar 11.6 inchi,
              Resolusi Layar 1366 x 768, Storage HDD 320 GB</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="img-thumbnail">
              <img src="{% static 'img/acer e5-552g.jpg'%}" class="">
            </div>
            </div>
          <div class="col-md-6">
            <h2 class="subtitle">Acer E5-552G</h2>
            <p>Prosesor	AMD APU FX-8800P "Carrizo", Speed 2.10 GHz, max 3.4 GHz, VGA AMD Radeon (Dual Graphics) R8 M365DX, 2GB VRAM, RAM DDR3L 2 x 4GB RAM,
              Ukuran Layar 15.6 inch, Resolusi Layar 1366 x 768 (HD), Storage HDD 1TB, Harga Rp 7.999.000,-</p>
          </div>
        </div>

  </body>
</html>
