<!DOCTYPE html>
{%load staticfiles%}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ASUS CATALOG</title>
    <!-- IMPORT FONT -->
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <!-- IMPORT CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/linearis.css' %}" />
  </head>
  <body>
    <!-- Start INTRODUCTION -->
    <div class="intro-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="img-thumbnail">
              <img src="{% static 'img/Asus A455LF.jpeg' %}" class="">
            </div>
            </div>
          <div class="col-md-6">
            <h2 class="subtitle">ASUS A455LF</h2>
            <p>Prosesor	Intel i3 4005U, Speed	1.7 Ghz, VGA	Nvidia Geforce GT930M 2GB, HDD	500 GB Sata, RAM	DDR3 2 GB
              , Ukuran Layar 14.1 inch, Resolusi Layar	1366 x 768, Harga	Rp 5.699.000</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="img-thumbnail">
              <img src="{% static 'img/Asus A455LN.jpeg' %}" class="">
            </div>
            </div>
          <div class="col-md-6">
            <h2 class="subtitle">Asus A455LN</h2>
            <p>Prosesor	Intel i3 4030U, Speed	1.9 Ghz, VGA	Nvidia Geforce GT840M 2GB, HDD	500 GB Sata
              , RAM	DDR3 2 GB, Ukuran Layar	14.1 inch, Resolusi Layar	1366 x 768, Harga	Rp 5.449.000</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="img-thumbnail">
              <img src="{% static 'img/Asus X455LJ.png' %}" class="">
            </div>
            </div>
          <div class="col-md-6">
            <h2 class="subtitle">Asus X455LJ</h2>
            <p>Prosesor	Intel i3 5005U, Speed		2.0 Ghz, VGA Nvidia Geforce GT920M 2GB, HDD	500 GB Sata
              , RAM	DDR3 4 GB, Ukuran Layar	14.1 inch, Resolusi Layar	1366 x 768, Harga	Rp 5.650.000</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="img-thumbnail">
              <img src="{% static 'img/Asus X550ZE.jpeg' %}" class="">
            </div>
            </div>
          <div class="col-md-6">
            <h2 class="subtitle">Asus X550ZE</h2>
            <p>Prosesor	AMD A10 7400P, Speed	2.5 Ghz, VGA AMD Radeon Dual Graphic R6 + R5 M230 2GB, HDD	1 TB Sata
              , RAM	DDR3 2 GB, Ukuran Layar	15.6 inch, Resolusi Layar	1920 x 1080, Harga Rp 5.649.000</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="img-thumbnail">
              <img src="{% static 'img/Asus X555DA.jpeg' %}" class="">
            </div>
            </div>
          <div class="col-md-6">
            <h2 class="subtitle">Asus X555DA</h2>
            <p>Prosesor	AMD QuadCore A10-8700P, Speed	1.8 - 3.2 Ghz, VGA AMD Radeon R6, HDD	500 GB Sata
              , RAM	DDR3 4 GB, Ukuran Layar	14.1 inch, Resolusi Layar	1366 x 768, Harga	Rp 5.699.000</p>
          </div>
        </div>


      </div>
    </div>

  </body>
</html>
