<!DOCTYPE html>
{%load staticfiles%}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>LENOVO CATALOG</title>
    <!-- IMPORT FONT -->
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <!-- IMPORT CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'linearis.css' %}">
  </head>
  <body>
    <!-- Start INTRODUCTION -->
    <div class="intro-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="img-thumbnail">
              <img src="{% static 'img/Lenovo B40-80.png' %}" class="">
            </div>
            </div>
          <div class="col-md-6">
            <h2 class="subtitle">LENOVO B40-80</h2>
            <p>Prosesor	Intel i3 5005U, Speed	2.0 Ghz, VGA AMD Radeon R5 M330 2 GB, HDD	500 GB Sata, RAM DDR3 4 GB,
              Ukuran Layar 14.1 inch, Resolusi Layar 1366 x 768, Harga Rp 5.600.000</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="img-thumbnail">
              <img src="{% static 'img/Lenovo S410-1848.jpeg' %}" class="">
            </div>
            </div>
          <div class="col-md-6">
            <h2 class="subtitle">Lenovo S410-1848</h2>
            <p>Prosesor Intel i5 4210U, Speed	1.7 Ghz, VGA AMD Radeon R5 M230 2 GB, HDD	500 GB Sata,
              RAM	DDR3 2 GB, Ukuran Layar 14 inch, Resolusi Layar 1366 x 768, Harga	Rp 5.750.000</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="img-thumbnail">
              <img src="{% static 'img/Lenovo G40-80 2EID.jpeg' %}" class="">
            </div>
            </div>
          <div class="col-md-6">
            <h2 class="subtitle">Lenovo G40-80 2EID</h2>
            <p>Prosesor	Intel i3 4030U, Speed	1.9 Ghz, VGA AMD Radeon R5 M330 2 GB, HDD	500 GB Sata,
              RAM	DDR3 4 GB, Ukuran Layar 14 inc, Resolusi Layar 1366 x 768, Harga Rp 5.400.000</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="img-thumbnail">
              <img src="{% static 'img/Lenovo Z40-75 F8D.jpeg' %}" class="">
            </div>
            </div>
          <div class="col-md-6">
            <h2 class="subtitle">Lenovo Z40-75 F8D</h2>
            <p>Prosesor	AMD A10 7300, Speed	1.9 GHz - 3.2 GHz, VGA AMD R6 M255 2 GB, HDD 1 TB Sata,
              RAM	DDR3 8 GB, Ukuran Layar 14.1 inch, Resolusi Layar 1920 x 1080, HargaRp 7.450.000</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="img-thumbnail">
              <img src="{% static 'img/Lenovo G40-70-4429.jpeg' %}" class="">
            </div>
            </div>
          <div class="col-md-6">
            <h2 class="subtitle">Lenovo G40-70-4429</h2>
            <p>Prosesor	Intel i7 4510U, Speed	2.0 GHz - 3.1 GHz, VGA AMD Radeon R5 M230 2 GB,
              HDD	1 TB Sata, RAM DDR3 4 GB, Ukuran Layar 14.1 inch, Resolusi Layar 1366 x 768, Harga Rp 7.700.000</p>
          </div>
        </div>


      </div>
    </div>

  </body>
</html>
